@use '../helpers/' as *;

.analytics {
  margin-bottom: rem(20);

  &__list {
    display: flex;
    column-gap: rem(40);
    border-bottom: var(--border-main);
  }

  &__item {
    @include text-preset-3;

    text-transform: uppercase;
    color: #fff;
    padding-bottom: rem(11);
    cursor: pointer;

    & span {
      display: inline-block;
      @include square(rem(20)); 
      margin-left: rem(8);
      padding: rem(5);
      background-color: var(--color-lime-800);
      color: var(--color-lime-500);
      border-radius: 50%;
      @include text-preset-6;
      display: inline-flex;
      place-content: center;
    }
    

    &.active {
      border-bottom: 1px solid var(--color-lime-500);
    }
  }
}