@use '../helpers/' as *;

.compare {
  background-color: var(--color-neutral-700);
  border-radius: 16px;
  padding: rem(20);

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include text-preset-4;

    color: var(--color-neutral-200);
  }

  &__value {
    @include text-preset-3-medium;

    color: #fff;
  }

  &__pairs {
    @include text-preset-5;

    color: var(--color-neutral-200);
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-top: rem(20);
    row-gap: rem(12);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tile;
    padding: rem(12) rem(16);
  }

  &__img {
    @include square(rem(24));
    border-radius: 50%;
  }

  &__origin {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }

  &__currency-data {
    display: flex;
    flex-direction: column;
    row-gap: rem(6);
  }

  &__currency {
    @include text-preset-4;
    color: #fff;
  }

  &__currency-name {
    @include text-preset-5;

    color: var(--color-neutral-200);
  }

  &__rate {
    display: flex;
    column-gap: rem(20);
    align-items: center;
  }

  &__converted {
    @include text-preset-3;
    color: #fff;
  }

  &__favorited {
    @include square(rem(32));
    border: 1px solid var(--color-lime-500);
    border-radius: 6px;
    background-color: var(--color-neutral-600);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-color: var(--color-neutral-500);

    & * path {
      fill: transparent;
    }  

    & svg {
      stroke: white;
    }

    &.active {
      border-color: var(--color-lime-500);

      & path {
        fill: var(--color-lime-500);
      }

      & svg {
        stroke: var(--color-lime-500);
      }
    }
  }

}