@use '../helpers/' as *;

.favorites {

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__exchange {
    display: flex;
    column-gap: rem(8);
  }

  &__currency {
    @include text-preset-4;
    color: #fff;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: rem(20);
  }

  &__change-data {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: rem(6);
  }

  &__change {
    @include text-preset-3;
    color: #fff;
  }
}