@use '../helpers/' as *;

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .4rem;
  // background-color: transparent;

  &::before {
    content: '';

    @include square(rem(16));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--default::before {
    content: '•';
    font-size: 1.3rem;
  }

  &--favorited::before {
    content: '';
    filter: invert(1);
    background-image: url('/assets/images/icon-star-filled.svg');
  }

  &--state::after {
    content: '';

    @include square(rem(16));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-image: url('/assets/images/icon-chevron-down.svg');
  }
}