@use '../helpers/' as *;

.range {
  background-color: var(--color-neutral-600);
  border-radius: 6px;
  width: fit-content;

  &__list {
    display: flex;
  }

  &__item {
    padding: rem(12) rem(16);
    color: var(--color-neutral-200);
    display: inline-flex;
    align-items: center;
    cursor:pointer;

    &.active {
      background-color: var(--color-neutral-500);
      color: #fff;
      margin: .4rem;
      border-radius: 6px;
    }
  }
}