@use '../helpers/' as *;

.ticker {
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-inline: 0;

  &__live {
    @include text-preset-5-medium;

    background-color: var(--color-lime-500);
    color: var(--color-neutral-900);
    padding: rem(12) rem(16);
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__track {
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite; // tune duration to content length
    flex-shrink: 0;
    white-space: nowrap;
    z-index: -1;
  }

  &__item {
    padding: rem(13);
    display: flex;
    column-gap: rem(10);
    background-color: var(--color-neutral-600);
    border-inline: var(--border-main);
    align-items: center;
  }

  &__currencies,
  &__change {
    @include text-preset-5;
  }

  &__currencies {
    @include text-preset-5;

    color: var(--color-neutral-200)
  }

  &__change {
    &.up {
      color: var(--color-green-500);

      &::before {
        content: "▲";
        margin-right: .2rem
      }
    }

    &.down {
      color: var(--color-red-500);

      &::before {
        content: "▼";
        margin-right: .2rem
      }
    }
  }

  &__rate {
    @include text-preset-5-medium;
  }

  &__list {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Moves exactly half the combined track size */
  }
}