@use './helpers/' as *;

body {
  background-color: var(--color-neutral-900);
  font-family: 'Monos';
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: rem(48);
}

html {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  @include text-preset-2;

  color: #fff;
}

.content-bg {
  background-color: var(--color-neutral-700);
  border: 1px solid var(--color-neutral-600);
  padding: rem(20);
  border-radius: 16px;

    @include mobile {
        padding-inline: .4rem;

  }
}

.content-card {
  background-color: var(--color-neutral-600);
  border: 1px solid var(--color-neutral-500);
  padding: rem(12) rem(16);
  border-radius: 10px;

    @include mobile {
        padding-inline: .4rem;

  }
}